@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #eee;
}

label {
  @apply text-gray-700 text-sm;
}

input {
  @apply px-2 py-2 rounded-xl relative bg-gray-100 text-gray-500;
}

option,
select {
  @apply text-gray-500 py-2 px-2 rounded-xl bg-gray-100;
}

.btn-primary {
  @apply p-2 bg-sky-600 text-white font-semibold text-center rounded-md;
}

.btn-primary:hover {
  @apply bg-sky-500;
}

.pattern-background {
  background-image: linear-gradient(
      to left top,
      rgba(187, 247, 208, 0.7),
      rgba(134, 239, 172, 0.7),
      rgba(59, 130, 246, 0.7)
    ),
    url("/leaves.webp");

  width: 80%;
  height: 400px;
  background-size: cover;
  color: white;
  padding: 20px;
}

.primary {
  background-color: linear-gradient(
    to left top,
    rgba(187, 247, 208, 0.7),
    rgba(134, 239, 172, 0.7),
    rgba(59, 130, 246, 0.7)
  );
}
